@import "tailwindcss";

/* Tu tema */
@theme {
  --color-verde: #8FFF00;
  --color-morado: #8A2BE2;
  --color-fondo: #000000;
  --color-texto: #A9A9A9;

  --font-titulos: "Press Start 2P", monospace;
  --font-texto: "Montserrat", sans-serif;
}

@layer components {
  .nav-link {
    @apply text-black hover:text-morado relative 
           after:content-[''] after:absolute after:left-0 after:-bottom-3 after:h-0.5 after:w-0
           after:bg-gradient-to-r after:from-verde after:to-morado after:transition-all hover:after:w-full;
  }

  .nav-cat {
    @apply text-black hover:text-verde relative 
           after:content-[''] after:absolute after:left-0 after:-bottom-3 after:h-0.5 after:w-0
           after:bg-gradient-to-r after:from-morado after:to-verde after:transition-all hover:after:w-full;
  }

  .link-active {
    @apply text-morado font-semibold after:w-full;
  }

  .link-catact {
    @apply text-verde font-semibold after:w-full;
  }

   /* Punto (dot) del carrusel */
  .dot {
    @apply w-2.5 h-2.5 rounded-full bg-white/40 hover:bg-verde transition;
  }
  .dot-active {
    @apply bg-verde;
  }
}


@layer utilities {
  /* Oculta la barra de scroll del carrusel */
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .hidden {
    display: none !important;
  }
}